<div style="font-family: sans-serif;">
    <table align="center">
        <tbody>
            <tr>
                <td align="center" style="padding-top: 48px">
                    <img width="160"
                        src="https://user-images.githubusercontent.com/58633356/115160357-26a31200-a06e-11eb-8807-34f930e9ee54.png" />
                </td>
            </tr>
            <tr>
                <td style="padding-top: 48px">
                    <h1 style="margin: 0; padding: 0; font-size: 32px; font-weight: 700; color: #293845">Recupere sua
                        senha</h1>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 4px">
                    <p style="margin: 0; padding: 0; font-size: 16px; font-weight: 700; color: #848586">Olá,
                        {{name}}.</p>
                </td>

            </tr>
            <tr>
                <td style="padding-top: 4px">
                    <p style="margin: 0; padding: 0; font-size: 16px; font-weight: 700; color: #848586">Você solicitou a
                        redefinição de sua senha. Defina uma nova senha clicando no link abaixo.</p>
                </td>

            </tr>
            <tr>
                <td style="padding: 44px 0"><a
                        style="padding: 12px 32px; font-size: 16px; color: #ffffff; font-weight: 700; background: #24ceac; border-radius: 12px; text-decoration: none"
                        href="{{link}}" target="_blank">Redefinir senha</a></td>
            </tr>
            <tr>
                <td>
                    <p style="margin: 0; padding: 0; font-size: 16px; font-weight: 700; color: #848586">Se você precisar
                        de ajuda <a style="color: #24ceac; font-size: 16px; font-weight: 700; text-decoration: none"
                            href="mailto:minihabitos@gmail.com?subject=Confirmação%20de%20email">contate-nos</a>.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>